/*Map Layout*/
.mapviewer {
    position: fixed;
    width: calc(100% - 700px);
    height: calc(100vh - 123px);
    /* background-color: #fff0f9; */
    /* margin: 80px; */
    z-index: 1;
    right: 350px;
}

    .mapviewer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px 10px 0 0;
        opacity: 1;
    }

.Map-Fit {
    width: calc(100% - 365px) !important;
    left: 15px !important;
    /*-moz-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    transition: width 1s ease-in-out, right 1.5s ease-in-out;*/
}

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: transparent;
        /*height:80px;*/
    }

footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    background-color: #f5f5fa;
    opacity: 1;
}

#wrapper .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 350px;
    height: 100%;
    float: left;
    background-color: #f5f5fa;
    position: fixed;
    left: 0;
}

.layout-fullwidth #wrapper .sidebar {
    left: -350px;
}

#wrapper .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 350px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
    min-height: 100vh;
}


.navbar-default .brand {
    float: left;
    padding: 0 55px 0 25px !important;
    background-color: transparent;
}


.navbar-default {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /*height:80px;*/
}

.profile-header {
    margin: 0 15px;
}

    .profile-header .overlay {
        background-color: transparent !important;
    }

    .profile-header .profile-main {
        border-radius: 10px 10px 0 0;
    }

    .profile-header .profile-stat {
        position: relative;
        background-color: #ffffff;
        color: #000;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

        .profile-header .profile-stat .stat-item:after {
            background-color: #dedede;
        }

.profile-more {
    position: absolute;
    z-index: 1;
    left: 15px;
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
    background-color: transparent;
    border-left-color: #8bdc50;
}

.slimScrollDiv .panel-heading {
    padding: 20px 20px 6px 20px;
}

.panel-title {
    font-weight: 600;
}

input::placeholder {
    opacity: 1;
    color: #999999;
}

input:focus::placeholder {
    opacity: 0;
}


label:focus + input::placeholder {
    opacity: 0;
}

.form-control {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #cccccc;
    background-color: #fcfcfc;
}

.forcast-weatherwidget {
    /*position: absolute;
    bottom: -80px;
    left: 10px;
    height: 300px;
    width: 350px;*/
    position: relative;
    width: 100%;
}


.sidebar .nav > li > a {
    padding: 5px 0 0 5px;
    color: #ffffff;
    /* border-left: 5px solid transparent; */
}

    .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
        background-color: transparent;
        border-left-color: transparent;
    }

        .sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
            color: #f5f5fa;
        }
/*End Map Layout*/



/*
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #009696 !important;
    border: 1px solid #009696 !important;
}
*/

.LeftPanelBTN {
    position: absolute;
    z-index: 1;
    right: -40px;
    background: #f5f5fa;
    top: calc(50% - 65px);
    border-radius: 0 5px 5px 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navbar-default .brand {
        display: block;
        width: 150px;
        padding: 0 !important;
        padding-top: 5px !important;
    }

    .container-fluid {
        background-color: #f5f5fa;
        /*height:60px;*/
    }

    #background-wrap {
        display: none !important;
    }

    .mapviewer iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        height: calc(100% - 43px) !important;
        border-radius: 0;
        opacity: 1;
        padding-top: 60px;
    }

    #wrapper #sidebar-nav, #wrapper .main {
        padding-top: 70px;
    }

    #wrapper .sidebar {
        width: calc(100% - 40px) !important;
    }

    .LeftPanelBTN {
        border-radius: 0 10px 10px 0;
        box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.1), 3px 0px 3px rgba(0, 0, 0, 0.1);
    }

    .layout-fullwidth #wrapper .sidebar {
        left: calc(-100% + 40px)
    }

    .navbar-default{
        /*height:60px;*/
    }
    .navbar-nav > li {
        display: inline-table;
    }

        .navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu {
            display: block;
        }


    .navbar-nav .icon-menu {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .language-dropdown ul.lang-list {
        position: absolute !important;
    }

    .profile-header .profile-stat .stat-item:after {
        background-color: #dedede !important;
    }

    .navbar-nav .open .dropdown-menu{
        margin-top:0 !important;
    }
    .forcast-weatherwidget {
        display: none;
    }


}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        display: none;
    }

    .navbar-nav {
        width: auto !important;
    }
}

@media only screen and (max-width: 1120px) {
    .mapviewer {
        width: calc(100% - 30px);
        left: 15px;
    }

    .forcast-weatherwidget {
        width: calc(100% - 365px);
        display:none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
    

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }
