/*Map Layout*/

body {
    background: linear-gradient(270deg, rgb(214, 241, 255) 0%, rgb(235, 244, 250) 47%, rgba(243,245,248,1) 85%) !important;
}

.mapviewer {
    position: fixed;
    width: calc(100% - 700px);
    height: calc(100vh - 123px);
    /* background-color: #fff0f9; */
    /* margin: 80px; */
    z-index: 1;
    right: 350px;
}

    .mapviewer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px 10px 0 0;
        opacity: 1;
    }

.Radius-r-t-0 {
    border-top-right-radius: 0 !important;
}

.Map-Fit {
    width: calc(100% - 365px) !important;
    left: 15px !important;
    /*-moz-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, right 1.5s ease-in-out;
    transition: width 1s ease-in-out, right 1.5s ease-in-out;*/
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    /*height:80px;*/
}

footer {
    /*position: absolute;*/
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    background-color: #f5f5fa;
    opacity: 1;
}

#wrapper .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 350px;
    height: 100%;
    float: left;
    background-color: #f5f5fa;
    position: fixed;
    left: 0;
}

.layout-fullwidth #wrapper .sidebar {
    left: -350px;
}

#wrapper .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 350px);
    left: 0;
    position: relative;
    float: right;
    background-color: transparent;
    min-height: 100vh !important;
}


.navbar-default .brand {
    float: left;
    padding: 0 55px 0 25px !important;
    background-color: transparent;
}


.navbar-default {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /*height:80px;*/
}

.profile-header {
    margin: 0 15px;
}

    .profile-header .overlay {
        background-color: transparent !important;
    }

    .profile-header .profile-main {
        border-radius: 10px 10px 0 0;
    }

    .profile-header .profile-stat {
        position: relative;
        background-color: #ffffff;
        color: #000;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

        .profile-header .profile-stat .stat-item:after {
            background-color: #dedede;
        }

.profile-more {
    position: absolute;
    z-index: 1;
    /*left: 15px;*/
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
    background-color: transparent;
    border-left-color: #8bdc50;
}

.slimScrollDiv .panel-heading {
    padding: 20px 20px 6px 20px;
    text-align: left;
}

.panel-title {
    font-weight: 600;
}

input::placeholder {
    opacity: 1;
    color: #999999;
}

input:focus::placeholder {
    opacity: 0;
}


label:focus + input::placeholder {
    opacity: 0;
}

.form-control {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: #cccccc;
    background-color: #fcfcfc;
}

.forcast-weatherwidget {
    /*position: absolute;
    bottom: -80px;
    left: 10px;
    height: 300px;
    width: 350px;*/
    position: relative;
    width: 100%;
}


.sidebar .nav > li > a {
    padding: 5px 0 0 5px;
    color: #ffffff;
    /* border-left: 5px solid transparent; */
}

    .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
        background-color: transparent;
        border-left-color: transparent;
    }

        .sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
            color: #f5f5fa;
        }
/*End Map Layout*/



/*
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #009696 !important;
    border: 1px solid #009696 !important;
}
*/

.LeftPanelBTN {
    position: absolute;
    z-index: 1;
    right: -40px;
    background: #f5f5fa;
    top: calc(50% - 65px);
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 2px 2px 5px -2px rgba(115,115,115,0.71);
    -moz-box-shadow: 2px 2px 5px -2px rgba(115,115,115,0.71);
    box-shadow: 2px 2px 5px -2px rgba(115,115,115,0.71);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .themes{
        display:none !important;
    }
    .navbar-default .brand {
        display: block;
        width: 150px;
        padding: 0 !important;
        padding-top: 5px !important;
    }

    .container-fluid {
        background-color: #f5f5fa;
        height: 60px;
    }

    #background-wrap {
        display: none !important;
    }

    .mapviewer iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100% !important;
        height: calc(100% - 43px) !important;
        border-radius: 0;
        opacity: 1;
        padding-top: 60px;
    }

    #wrapper #sidebar-nav, #wrapper .main {
        padding-top: 70px;
    }

    #wrapper .sidebar {
        width: calc(100% - 40px) !important;
    }

    .LeftPanelBTN {
        border-radius: 0 10px 10px 0;
    }

    .layout-fullwidth #wrapper .sidebar {
        left: calc(-100% + 40px)
    }

    .navbar-default {
        /*height:60px;*/
    }

    .navbar-nav > li {
        display: inline-table;
    }

        .navbar-nav > li > a span:not(.badge), .navbar-nav > li > a .icon-submenu {
            display: block;
        }


    .navbar-nav .icon-menu {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .language-dropdown ul.lang-list {
        position: absolute !important;
    }

    .profile-header .profile-stat .stat-item:after {
        background-color: #dedede !important;
    }

    .navbar-nav .open .dropdown-menu {
        margin-top: 0 !important;
    }

    .forcast-weatherwidget {
        display: none;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        display: none;
    }

    .navbar-nav {
        width: auto !important;
        float: right;
    }

    .sidebar-right {
        width: calc(100% - 40px) !important;
        right: calc(-100% + 40px) !important;
        margin-top: 60px !important;
        height: calc(100% - 103px) !important;
    }

    .rightPanelBTN {
        top: 0 !important;
    }

    .panel-right {
        width: 100% !important;
        height: calc(100% - 100px) !important;
        margin-top: 60px !important;
        z-index: 9 !important;
    }
}

/* Medium devices (landscape tablets, 768px and down) */
/*@media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        display: none;
    }

    .navbar-nav {
        width: auto !important;
    }
}*/

@media only screen and (max-width: 1120px) {
    .mapviewer {
        width: calc(100% - 30px);
        left: 15px;
    }

    #background-wrap {
        display: none !important;
    }

    .forcast-weatherwidget {
        width: calc(100% - 365px);
        display: none;
    }
}


/*Right Sidebar*/
.sidebar-right {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 350px;
    height: calc(100% - 123px);
    float: right;
    background-color: #f5f5fa;
    position: fixed;
    right: -350px;
    margin-top: 80px;
    z-index: 1;
}

.sidebar-right-open {
    right: 0 !important;
    z-index: 1;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rightPanelBTN {
    position: absolute;
    z-index: 1;
    left: -40px;
    background: #f5f5fa;
    top: calc(50% - 83px);
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: -2px 0px 5px -2px rgba(115,115,115,0.71);
    -moz-box-shadow: -2px 0px 5px -2px rgba(115,115,115,0.71);
    box-shadow: -2px 0px 5px -2px rgba(115,115,115,0.71);
}
/*End Right Sidebar*/


/*Right Slide Panel*/
.panel-right {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 700px;
    height: calc(100% - 122px);
    float: right;
    background-color: #f5f5fa;
    position: fixed;
    right: -700px;
    margin-top: 80px;
    z-index: 1;
}

.panel-right-open {
    right: 0 !important;
    z-index: 1;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*End Right Slide Panel*/


.landmark {
    text-align: center;
}

    .landmark > ul {
        list-style: none;
    }

        .landmark > ul li {
            display: inline-block;
            background-color: #b1b1b1;
            margin: 5px;
            border-radius: 50%;
        }

            .landmark > ul li a {
                color: white;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                height: 50px;
                width: 50px;
            }

                .landmark > ul li a i {
                    font-size: 22px;
                }

{
    font-size: 22px;
}

.landmark > ul li.Landmark-on {
    background-color: #3fab1b;
}

.landmark > .panel-heading {
    padding-left: 0 !important;
}

/*.landmark > ul li a:hover, .landmark > ul li a:active {
                color: lightsalmon;
                text-decoration: none;
            }*/


.Transport {
    text-align: center;
}

    .Transport > ul {
        list-style: none;
    }

        .Transport > ul li {
            display: inline-block;
            background-color: transparent;
            margin: 5px;
            border-radius: 50%;
            border: 1px solid rgb(146, 144, 144);
        }

            .Transport > ul li a {
                color: white;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                height: 48px;
                width: 48px;
            }

            .Transport > ul li:hover {
                background-color: #04abea;
                border: 1px solid #fff;
            }

                .Transport > ul li:hover .fas {
                    color: #fff !important;
                }

            .Transport > ul li a i {
                font-size: 22px;
                color: rgb(146, 144, 144);
            }

{
    font-size: 22px;
}

.Transport > ul li.Landmark-on {
    background-color: #3fab1b;
}

.Transport > .panel-heading {
    padding-left: 0 !important;
}



.SelectRegions > .panel-heading {
    padding-left: 0 !important;
}

.SelectRegions > ul {
    list-style-type: none;
}

    .SelectRegions > ul li {
        display: inline-block;
    }

input[type="checkbox"][id^="myRegions"] {
    display: none;
}

label {
    border: 1px solid #b1b1b1;
    padding: 10px;
    display: block;
    position: relative;
    /*margin: 10px;*/
    cursor: pointer;
    background-color: #fff;
}

    label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid #3fab1b;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        height: 60px;
        width: 75px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

:checked + label {
    border-color: #3fab1b;
}

    :checked + label:before {
        content: "✓";
        background-color: #3fab1b;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        /* box-shadow: 0 0 5px #333; */
        z-index: -1;
    }

/*.p1-gradient-bg, .primary-btn:after, .overlay-bg, .owl-dot.active, .service-area .single-service .overlay-content {
    background-image: -moz-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    background-image: -ms-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}

.owl-dots {
    text-align: center;
    bottom: 5px;
    margin-top: 20px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

    .owl-dot.active {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding: 0px 25px 0px 0px;
    }*/

.ImagesG-close {
    font-size: 30px;
    text-shadow: #00000047 0px 0px 10px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 30px;
    color: #fff;
}

